.DS_Store
*.gem
Gemfile.lock
Gemfile.local

# Bundler / Rbenv
/.bundle
/.bin
/.ruby-version
tmp
vendor

# Vim
/.projections.json
/tags

.onceover
.cucumber
.vscode
.idea

# Fixtures Caches
spec/fixtures/bolt/modules
spec/fixtures/bolt/inventory.yaml
.rerun.json
.vagrant